* {
    box-sizing: border-box;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid #777777;
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #dddddd;
    background-image: url(../images/sun-pattern.png);
}

p {
    line-height: 1.5;
    margin: auto;
    padding-top: 2em;
}

header {
    color: #777777;
}

img {
    float: left;
}

.lions {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    ;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: #4aaaa5;
    padding: 0 20px;
    margin: 6px;
    float: left;
    color: white;
}

.nav-Links {
    float: right;
}

.mouse {
    background-color: #ffffff;
    border: hidden;
    padding: 40px;
    margin: 25px;
    height: 400px;
}

.wrapper {
    background-color: #ffffff;
    width: 500 px;
    border: hidden;
    padding: 25px;
    margin: 25px;
    height: 550px;
}

.case {
    background-color: #ffffff;
    width: 500 px;
    border: hidden;
    padding: 25px;
    margin: 25px;
    height: 850px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    clear: left;
    padding: 15px;
    border-top: 5px solid #4aaaa5;
}

.img-container {
    float: left;
    
    padding: 5px;
    text-align: center;
    color: black;
    
}

.img-containertwo {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.container {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
    float: left;
}

.centered {
    position: absolute;
    bottom: 15px;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    padding: 0 130px;
    margin: 20px;
    float: left;
}

.submit {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

@media only screen and (max-width: 640px) {
    header {
        position: static;
    }
    p {
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }
    .lions {
        float: left;
        margin-top: 10px;
        margin-right: 500px;
        position: relative;
        width: 300px;
        height: 300px;
    }
    .img-container {
        line-height: 1.5;
        margin-top: 35px;
        margin-right: 500px;
        position: absolute;
    }
    .containertwo {
        position: relative;
        text-align: center;
    }
    .nav-Links {
        width:100%;
        position: static;
        text-align: center;
    }
    h1 {
        float: left;
    }
    .centered {
        position: relative;
        bottom: 15px;
        left: 35%;
        transform: translate(-50%, -50%);
        background-color: lightblue;
        padding: 0 130px;
        margin: 20px;
        float: left;
    }
    forms {
        padding: 25px;
        height: 100%;
    }
    .wrapper {
        background-color: #ffffff;
        width: 200px;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 450px;
    }
    .case {
        background-color: #ffffff;
        width: 500 px;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 850px;
    
    }
    .mouse {
        background-color: #ffffff;
        width: 100px;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 650px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        background-color: #ffffff;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 350px;
        width: 450px;
    }
    .mouse {
        background-color: #ffffff;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 350px;
        width: 650px;
    }
    .case {
        background-color: #ffffff;
        width: 550px;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 100%;
    }
}

@media only screen and (max-width: 980px) {
    .wrapper {
        background-color: #ffffff;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 350px;
        width: 650px;
    }
    .mouse {
        background-color: #ffffff;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 350px;
        width: 650px;
    }
    .case {
        background-color: #ffffff;
        width: 550px;
        border: hidden;
        padding: 25px;
        margin: 25px;
        height: 100%;
    }
}